body {
  background-color: #000;
  margin: 0;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
}

.title {
  text-align: center;
  margin: 50px auto;
}

.container {
  margin: 10px auto;
  width: 800px;
  padding: 20px;
  font-weight: bold;
  border: solid 3px #fff;
  background-color: #000;
}

.description {
  font-size: 20px;
}

.score {
  font-size: 20px;
}

.score-num {
  padding: 0 10px 0 10px;
  font-size: 25px;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.item {
  width: calc(25% - 10px * 3);
  height: 125px;
  padding: 10px;
  font-weight: bold;
  border: solid 3px #fff;
  box-sizing: border-box;
  /* 調べる */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicked {
  border: solid 3px rgb(255, 255, 0);
}

/* time left */
.time-left-bar {
  display: flex;
  border: solid 1px #fff;
}

.time-left-filled {
  height: 25px;
  transition: height 0.3s;
  width: 100%;
  background-color: #ffc600;
  transition: all 2s ease;
}

.time-left {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 20px;
}

/* Modal */

.modal_background {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_wrapper {
  margin: 15% auto;
  width: 600px;
  height: 400px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);
  background: #fff;
  color: #000;
  position: relative;
  z-index: 10;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_text {
  font-size: 30px;
}

.modal_btn {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  position: relative;
  display: inline-block;
  padding:10px;
  text-decoration: none;
  color: #fff;
  background: #fd9535; /*色*/
  border-radius: 4px; /*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2),
    inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00; /*線色*/
}

.modal_btn:active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
